.App {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
}

/* HEADER */
.header_container {
  width: 95%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 125px 125px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  padding: 20px;
}

/* NAV BAR */

.hover_effect{
  border-left: 2px solid #5a5a5a;
  height: 0px;
  margin: 0 auto;
  width: 0px;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.about_button {
  cursor: pointer;
}

.favorites_button {
  cursor: pointer;
}

.about_button:hover .hover_effect{
  height: 20px;
}

.about_button:hover .hover_effect{
  height: 20px;
}

.favorites_button:hover .hover_effect{
  height: 20px;
}



/* LANDING */

.landing_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  min-height: 500px;

}

/* FAVORITES */

.favorites_button span{
  position: relative;
  top: 17px;
}

.favorites_button .favorites_list{
  position: absolute;
  top: 37px;
  right:0px;
  opacity: 0;
  visibility: hidden;
  background: #F9AA36;
  transition: all 0.3s ease-in-out;
}

.favorites_button:hover .favorites_list{
  opacity: 1;
  visibility: visible;
}

.favorite_item {
  display: grid;
  grid-template-columns: 100px 200px;
  padding: 10px;
}

.favorite_item_title {

}

.favorite_item_contents {
  font-weight: 400;
}

/* MENU / FOOD DATA */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.option_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu_option{
  cursor: pointer;
  padding: 20px 10px;
  margin: 0 10px;
  width: 100px;
}

.food_container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 8fr 8fr 50px;
  margin-bottom: 15px;
  width: 920px;
  height: 100px;
  transition: transform .1s;
}

.food_container:hover {
  transform: scale(1.060) ;
  cursor: default;
}

.food_title{
  margin: auto;
  font-size: 16px;
  font-weight: 700;
}

.food_info{
  text-align: left;
  margin: auto;
  width: 100%;
}

.small_info{
  font-size: 12px;
  color: #8f8f8f;
  margin: auto;
}

.main_info{
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 800;
}

.food_add{ 
  color: white;
  margin: 0 auto;
}

.add_container{
  visibility: hidden;
  position: relative;
  left:50px;
  transition: all 0.2s ease-out;
  transition-delay: .1s;
  display: flex;
  align-items: center;
}

.slide_add{
  position: relative;
  left:0px;
  cursor: pointer;
  background: #F9AA36;
  transition: all 0.2s ease-out;
  transition-delay: .3s;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .food_container{
    width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .food_container{
    width: 95%;
  }
}