.App {
  text-align: center;
}

span {
  width: 100%;
}

.shadow {
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none; 
            user-select: none; 
}

/* HEADER */
.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  padding: 20px 0;
  top:0;
  
}

/* NAV BAR */

.nav_bar {
  grid-area: nav;
}

.hover_effect{
  border-left: 2px solid #5a5a5a;
  height: 0px;
  margin: 0 auto;
  width: 0px;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.logo {
  flex: 1 2 auto;
}

.about_button {
  cursor: pointer;
  margin: 0 20px 0 20px;
}

.nav_font {
  font-weight: 500;
  color: #bbbbbb;
}

.nav_font:hover {
  color: #323232;
}

.about_button:hover .hover_effect{
  height: 20px;
}

.about_button:hover .hover_effect{
  height: 20px;
}

.favorites_button:hover .hover_effect{
  height: 20px;
}

.nav_text{
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

/* LANDING */

.landing_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav hero" "menu hero" ;
  min-height: 700px;
  height: 100vh;
}

.hero {
  
  background-image: url("./img/splash3-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: hero;
  color: #323232;
  font-weight: 700;
  font-size: 80px;
  padding-top: 1%;

  -webkit-box-shadow: inset 0px 0px 63px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0px 0px 63px -7px rgba(0,0,0,0.10);
  box-shadow: inset 0px 0px 63px -7px rgba(0,0,0,0.10);
}

/* FAVORITES */

.favorites_button span{
  position: relative;
  top: 17px;
}

.favorites_button .favorites_list{
  position: absolute;
  top: 37px;
  right:0px;
  opacity: 0;
  visibility: hidden;
  background: #F9AA36;
  transition: all 0.3s ease-in-out;
}

.favorites_button:hover .favorites_list{
  opacity: 1;
  visibility: visible;
}

.favorite_item {
  display: grid;
  grid-template-columns: 100px 200px;
  padding: 10px;
}

.favorite_item_contents {
  font-weight: 400;
}

/* MENU / FOOD DATA */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s;
  grid-area: menu;
}

.menu_word{
  font-weight: 700;
  border-bottom: 1px solid #8f8f8f;
  width: 85%;
  padding: 15px 0;
}

.option_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.menu_option{
  cursor: pointer;
  padding: 20px 10px;
  margin: 0 0px;
  font-size: 12px;
  color: #9e9e9e;
}

.menu_option:hover {
  color: #323232;
}

.food_container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 2fr 50px;
  width: 85%;
  height: 60px;
  transition: transform .1s, opacity 0.5s;
  opacity: 1;
}

.food_container_animate {
  opacity: 0;
}

.food_container:hover {
  transform: scale(1.05) ;
  cursor: default;
}

.food_title{
  margin: auto;
  font-size: 14px;
  font-weight: 700;
}

.food_info{
  text-align: left;
  margin: auto;
  width: 100%;
}

.small_info{
  font-size: 12px;
  color: #8f8f8f;
  margin: auto;
}

.small_info_bold{
  font-weight: 900;
  color: #323232;
}

.main_info{
  font-size: 12px;
  color: #5a5a5a;
  
}

.food_add{ 
  color: #5a5a5a;
  margin: 0 auto;
}

.add_container{
  visibility: hidden;
  position: relative;
  left:50px;
  transition: all 0.2s ease-out;
  transition-delay: .1s;
  display: flex;
  align-items: center;
}

.slide_add{
  position: relative;
  left:0px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  transition-delay: .3s;
  display: flex;
  align-items: center;
}

.icons_content {
  display: flex;
  padding-top: 20px;
  width: 85%;
}

.icons_item {
  margin: 0 20px;
  cursor: pointer;
}

.icons_item:nth-child(2) {
  color: #54C6FE;
}

.icons_item:nth-child(3) {
  margin: 0 0;
  color: #F3BC65;
}

.icons_content hr{
  width: 100%;
}

/* React Transitions */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* MAIN SECTION */

/* MEDIA */

@media only screen and (max-width: 1024px) {
  .food_container{
    width: 600px;
  }

  .landing_container {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "hero" "menu";
    height: auto;
    min-height: 600px;
  }

  .hero {
    height: 100vh;
  }

  .menu{
    grid-area: menu;
  }
}

@media only screen and (max-width: 650px) {
  .food_container{
    width: 95%;
    height: 85px;
  }

  .hero {
    font-size: 50px;
  }
}