main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

/* FOOD DATA */
.option_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.menu_option{
  cursor: pointer;
  padding: 20px 10px;
  margin: 0 10px;
  border: solid 2px black;
  width: 100px;
}

.food_container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 8fr 8fr 50px;
  margin-bottom: 15px;
  width: 920px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.20);
  transition: transform .1s;

}

.food_container:hover {
  transform: scale(1.060) ;
  cursor: default;
}

.food_title{
  margin: auto;
  font-weight: 900;
}

.food_info{
  text-align: left;
  margin: auto;
  width: 100%;
}

.small_info{
  font-size: 12px;
  color: #8f8f8f;
  margin: auto;
}

.main_info{
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 600;
}

.food_add{
  color: white;
  margin: 0 auto;
}

.add_container{
  visibility: hidden;
  position: relative;
  left:50px;
  transition: all 0.2s ease-out;
  transition-delay: .1s;
}

.slide_add{
  position: relative;
  left:0px;
  cursor: pointer;
  background: #F9AA36;
  transition: all 0.2s ease-out;
  transition-delay: .3s;
}

@media only screen and (max-width: 1024px) {
  .food_container{
    width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .food_container{
    width: 95%;
  }
}